.red {
    color: #DD1A21;
}

.is-selected {
    color: #DD1A21 !important;
}

.hr {
    height: 1px;
    background-color: #EAEAEA;
    margin: 10px 0;
    border-radius: 40px;
}

body {
    margin: 0;
}